In [443]:
import pandas as pd

tablelink='https://raw.githubusercontent.com/Controles-ICDERebatta/PC_2/refs/heads/main/HDI.xlsx%20-%20Table%201.csv'

dataPC2=pd.read_csv(tablelink)
dataPC2

,Back,Table 1. Human Development Index and its components,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,SDG3,NaN,SDG4.3,NaN,SDG4.4,NaN,SDG8.5,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,Human Development Index (HDI),NaN,Life expectancy at birth,NaN,Expected years of schooling,NaN,Mean years of schooling,NaN,Gross national income (GNI) per capita,NaN,GNI per capita rank minus HDI rank,NaN,HDI rank
4,HDI rank,Country,Value,NaN,(years),NaN,(years),NaN,(years),NaN,(2017 PPP $),NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271,NaN,Column 2: UNDESA (2022a).,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
272,NaN,"Column 3: CEDLAS and World Bank (2022), ICF Ma...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
273,NaN,"Column 4: Barro and Lee (2018), ICF Macro Demo...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
274,NaN,"Column 5: IMF (2022), UNDESA (2022b), United N...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
275,NaN,Column 6: Calculated based on data in columns ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [445]:
print(dataPC2.columns)

Index(['Back', 'Table 1. Human Development Index and its components ',
       'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6',
       'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11',
       'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14'],
      dtype='object')

In [447]:
keep=['Back','Table 1. Human Development Index and its components ', 'Unnamed: 2', 'Unnamed: 4', 'Unnamed: 6', 'Unnamed: 8', 'Unnamed: 10', 'Unnamed: 12', 'Unnamed: 14']

data_firstcleaned=dataPC2.loc[:,keep]
data_firstcleaned

,Back,Table 1. Human Development Index and its components,Unnamed: 2,Unnamed: 4,Unnamed: 6,Unnamed: 8,Unnamed: 10,Unnamed: 12,Unnamed: 14
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,SDG3,SDG4.3,SDG4.4,SDG8.5,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,Human Development Index (HDI),Life expectancy at birth,Expected years of schooling,Mean years of schooling,Gross national income (GNI) per capita,GNI per capita rank minus HDI rank,HDI rank
4,HDI rank,Country,Value,(years),(years),(years),(2017 PPP $),NaN,NaN
...,...,...,...,...,...,...,...,...,...
271,NaN,Column 2: UNDESA (2022a).,NaN,NaN,NaN,NaN,NaN,NaN,NaN
272,NaN,"Column 3: CEDLAS and World Bank (2022), ICF Ma...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
273,NaN,"Column 4: Barro and Lee (2018), ICF Macro Demo...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
274,NaN,"Column 5: IMF (2022), UNDESA (2022b), United N...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
275,NaN,Column 6: Calculated based on data in columns ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [449]:
change={'Back': "Order rank", 'Unnamed: 2':"Human_Development_Index_HDI", 'Unnamed: 4':"Life expectancy at birth SDG3",'Unnamed: 6':"Expected years of schooling SDG4_3", 'Unnamed: 8':"Many years of schooling SDG4_4", 'Unnamed: 10':"GNI per capita SDG8_5", 'Unnamed: 12':"GNI per capita rank minus HDI rank", 'Unnamed: 14':"HDI rank"}
data_firstcleaned.rename(columns=change,inplace=True)
data_firstcleaned

,Order rank,Table 1. Human Development Index and its components,Human_Development_Index_HDI,Life expectancy at birth SDG3,Expected years of schooling SDG4_3,Many years of schooling SDG4_4,GNI per capita SDG8_5,GNI per capita rank minus HDI rank,HDI rank
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,SDG3,SDG4.3,SDG4.4,SDG8.5,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,Human Development Index (HDI),Life expectancy at birth,Expected years of schooling,Mean years of schooling,Gross national income (GNI) per capita,GNI per capita rank minus HDI rank,HDI rank
4,HDI rank,Country,Value,(years),(years),(years),(2017 PPP $),NaN,NaN
...,...,...,...,...,...,...,...,...,...
271,NaN,Column 2: UNDESA (2022a).,NaN,NaN,NaN,NaN,NaN,NaN,NaN
272,NaN,"Column 3: CEDLAS and World Bank (2022), ICF Ma...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
273,NaN,"Column 4: Barro and Lee (2018), ICF Macro Demo...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
274,NaN,"Column 5: IMF (2022), UNDESA (2022b), United N...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
275,NaN,Column 6: Calculated based on data in columns ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [451]:
objectCols=data_firstcleaned.select_dtypes(include=['object']).columns
objectCols

Index(['Order rank', 'Table 1. Human Development Index and its components ',
       'Human_Development_Index_HDI', 'Life expectancy at birth SDG3',
       'Expected years of schooling SDG4_3', 'Many years of schooling SDG4_4',
       'GNI per capita SDG8_5', 'GNI per capita rank minus HDI rank',
       'HDI rank'],
      dtype='object')

In [453]:
data_firstcleaned.columns=data_firstcleaned.columns.str.replace(r'\s','_',regex=True)
data_firstcleaned

,Order_rank,Table_1._Human_Development_Index_and_its_components_,Human_Development_Index_HDI,Life_expectancy_at_birth_SDG3,Expected_years_of_schooling_SDG4_3,Many_years_of_schooling_SDG4_4,GNI_per_capita_SDG8_5,GNI_per_capita_rank_minus_HDI_rank,HDI_rank
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,SDG3,SDG4.3,SDG4.4,SDG8.5,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,Human Development Index (HDI),Life expectancy at birth,Expected years of schooling,Mean years of schooling,Gross national income (GNI) per capita,GNI per capita rank minus HDI rank,HDI rank
4,HDI rank,Country,Value,(years),(years),(years),(2017 PPP $),NaN,NaN
...,...,...,...,...,...,...,...,...,...
271,NaN,Column 2: UNDESA (2022a).,NaN,NaN,NaN,NaN,NaN,NaN,NaN
272,NaN,"Column 3: CEDLAS and World Bank (2022), ICF Ma...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
273,NaN,"Column 4: Barro and Lee (2018), ICF Macro Demo...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
274,NaN,"Column 5: IMF (2022), UNDESA (2022b), United N...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
275,NaN,Column 6: Calculated based on data in columns ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [455]:
data_firstcleaned.dropna()

,Order_rank,Table_1._Human_Development_Index_and_its_components_,Human_Development_Index_HDI,Life_expectancy_at_birth_SDG3,Expected_years_of_schooling_SDG4_3,Many_years_of_schooling_SDG4_4,GNI_per_capita_SDG8_5,GNI_per_capita_rank_minus_HDI_rank,HDI_rank
7,1,Switzerland,"0,962","84,0","16,5","13,9",66.933,5,3
8,2,Norway,"0,961","83,2","18,2","13,0",64.660,6,1
9,3,Iceland,"0,959","82,7","19,2","13,8",55.782,11,2
10,4,"Hong Kong, China (SAR)","0,952","85,5","17,3","12,2",62.607,6,4
11,5,Australia,"0,951","84,5","21,1","12,7",49.238,18,5
...,...,...,...,...,...,...,...,...,...
196,187,Burundi,"0,426","61,7","10,7","3,1",732,4,187
197,188,Central African Republic,"0,404","53,9","8,0","4,3",966,1,188
198,189,Niger,"0,400","61,6","7,0","2,1",1.240,-3,189
199,190,Chad,"0,394","52,5","8,0","2,6",1.364,-7,190
200,191,South Sudan,"0,385","55,0","5,5","5,7",768,-1,191

In [457]:
data_secondcleaned=data_firstcleaned.dropna()
data_secondcleaned

,Order_rank,Table_1._Human_Development_Index_and_its_components_,Human_Development_Index_HDI,Life_expectancy_at_birth_SDG3,Expected_years_of_schooling_SDG4_3,Many_years_of_schooling_SDG4_4,GNI_per_capita_SDG8_5,GNI_per_capita_rank_minus_HDI_rank,HDI_rank
7,1,Switzerland,"0,962","84,0","16,5","13,9",66.933,5,3
8,2,Norway,"0,961","83,2","18,2","13,0",64.660,6,1
9,3,Iceland,"0,959","82,7","19,2","13,8",55.782,11,2
10,4,"Hong Kong, China (SAR)","0,952","85,5","17,3","12,2",62.607,6,4
11,5,Australia,"0,951","84,5","21,1","12,7",49.238,18,5
...,...,...,...,...,...,...,...,...,...
196,187,Burundi,"0,426","61,7","10,7","3,1",732,4,187
197,188,Central African Republic,"0,404","53,9","8,0","4,3",966,1,188
198,189,Niger,"0,400","61,6","7,0","2,1",1.240,-3,189
199,190,Chad,"0,394","52,5","8,0","2,6",1.364,-7,190
200,191,South Sudan,"0,385","55,0","5,5","5,7",768,-1,191

In [461]:
#data_secondcleaned['Human_Development_Index_(HDI)']=data_secondcleaned['Human_Development_Index_(HDI)'].replace(',','.', regex=True)
#data_secondcleaned

data_secondcleaned.loc[:, 'Human_Development_Index_HDI'] = data_secondcleaned.loc[:, 'Human_Development_Index_HDI'].str.replace(',', '.', regex=False)
data_secondcleaned.loc[:, 'Life_expectancy_at_birth_SDG3'] = data_secondcleaned.loc[:, 'Life_expectancy_at_birth_SDG3'].str.replace(',', '.', regex=False)
data_secondcleaned.loc[:, 'Expected_years_of_schooling_SDG4_3'] = data_secondcleaned.loc[:, 'Expected_years_of_schooling_SDG4_3'].str.replace(',', '.', regex=False)
data_secondcleaned.loc[:, 'Many_years_of_schooling_SDG4_4'] = data_secondcleaned.loc[:, 'Many_years_of_schooling_SDG4_4'].str.replace(',', '.', regex=False)
data_secondcleaned.loc[:, 'GNI_per_capita_SDG8_5'] = data_secondcleaned.loc[:, 'GNI_per_capita_SDG8_5'].str.replace(',', '.', regex=False)
data_secondcleaned.loc[:, 'GNI_per_capita_rank_minus_HDI_rank'] = data_secondcleaned.loc[:, 'GNI_per_capita_rank_minus_HDI_rank'].str.replace(',', '.', regex=False)
#data_secondcleaned.loc[:, 'HDI_rank'] = data_secondcleaned.loc[:, 'HDI_rank'].str.replace(',', '.', regex=False)

data_secondcleaned

,Order_rank,Table_1._Human_Development_Index_and_its_components_,Human_Development_Index_HDI,Life_expectancy_at_birth_SDG3,Expected_years_of_schooling_SDG4_3,Many_years_of_schooling_SDG4_4,GNI_per_capita_SDG8_5,GNI_per_capita_rank_minus_HDI_rank,HDI_rank
7,1,Switzerland,0.962,84.0,16.5,13.9,66.933,5,3
8,2,Norway,0.961,83.2,18.2,13.0,64.660,6,1
9,3,Iceland,0.959,82.7,19.2,13.8,55.782,11,2
10,4,"Hong Kong, China (SAR)",0.952,85.5,17.3,12.2,62.607,6,4
11,5,Australia,0.951,84.5,21.1,12.7,49.238,18,5
...,...,...,...,...,...,...,...,...,...
196,187,Burundi,0.426,61.7,10.7,3.1,732,4,187
197,188,Central African Republic,0.404,53.9,8.0,4.3,966,1,188
198,189,Niger,0.400,61.6,7.0,2.1,1.240,-3,189
199,190,Chad,0.394,52.5,8.0,2.6,1.364,-7,190
200,191,South Sudan,0.385,55.0,5.5,5.7,768,-1,191

In [463]:
data_secondcleaned.info()
#Solo cambié las comas por puntos, aún tengo que pasar los datos a números.

<class 'pandas.core.frame.DataFrame'>
Index: 191 entries, 7 to 200
Data columns (total 9 columns):
 #   Column                                                Non-Null Count  Dtype
---  ------                                                --------------  -----
 0   Order_rank                                            191 non-null    object
 1   Table_1._Human_Development_Index_and_its_components_  191 non-null    object
 2   Human_Development_Index_HDI                           191 non-null    object
 3   Life_expectancy_at_birth_SDG3                         191 non-null    object
 4   Expected_years_of_schooling_SDG4_3                    191 non-null    object
 5   Many_years_of_schooling_SDG4_4                        191 non-null    object
 6   GNI_per_capita_SDG8_5                                 191 non-null    object
 7   GNI_per_capita_rank_minus_HDI_rank                    191 non-null    object
 8   HDI_rank                                              191 non-null    object
dtypes: object(9)
memory usage: 14.9+ KB

In [465]:
objectCols=data_secondcleaned.select_dtypes(include=['object']).columns
objectCols

Index(['Order_rank', 'Table_1._Human_Development_Index_and_its_components_',
       'Human_Development_Index_HDI', 'Life_expectancy_at_birth_SDG3',
       'Expected_years_of_schooling_SDG4_3', 'Many_years_of_schooling_SDG4_4',
       'GNI_per_capita_SDG8_5', 'GNI_per_capita_rank_minus_HDI_rank',
       'HDI_rank'],
      dtype='object')

In [467]:

pd.to_numeric(data_secondcleaned.Human_Development_Index_HDI).describe()

count    191.000000
mean       0.720576
std        0.150661
min        0.385000
25%        0.599500
50%        0.739000
75%        0.835000
max        0.962000
Name: Human_Development_Index_HDI, dtype: float64

In [469]:
pd.to_numeric(data_secondcleaned.Life_expectancy_at_birth_SDG3).describe()
pd.to_numeric(data_secondcleaned.Expected_years_of_schooling_SDG4_3).describe()
pd.to_numeric(data_secondcleaned.Many_years_of_schooling_SDG4_4).describe()
pd.to_numeric(data_secondcleaned.GNI_per_capita_SDG8_5).describe()
pd.to_numeric(data_secondcleaned.GNI_per_capita_rank_minus_HDI_rank).describe()
pd.to_numeric(data_secondcleaned.HDI_rank).describe()

count    191.000000
mean      95.811518
std       55.279634
min        1.000000
25%       48.500000
50%       96.000000
75%      143.000000
max      191.000000
Name: HDI_rank, dtype: float64

In [473]:
data_secondcleaned['Human_Development_Index_HDI']=pd.to_numeric(data_secondcleaned.Human_Development_Index_HDI)
data_secondcleaned['Life_expectancy_at_birth_SDG3']=pd.to_numeric(data_secondcleaned.Life_expectancy_at_birth_SDG3)
data_secondcleaned['Expected_years_of_schooling_SDG4_3']=pd.to_numeric(data_secondcleaned.Expected_years_of_schooling_SDG4_3)
data_secondcleaned['Many_years_of_schooling_SDG4_4']=pd.to_numeric(data_secondcleaned.Many_years_of_schooling_SDG4_4)
data_secondcleaned['GNI_per_capita_SDG8_5']=pd.to_numeric(data_secondcleaned.GNI_per_capita_SDG8_5)
data_secondcleaned['GNI_per_capita_rank_minus_HDI_rank']=pd.to_numeric(data_secondcleaned.GNI_per_capita_rank_minus_HDI_rank)
data_secondcleaned['HDI_rank']=pd.to_numeric(data_secondcleaned.HDI_rank)

data_secondcleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 191 entries, 7 to 200
Data columns (total 9 columns):
 #   Column                                                Non-Null Count  Dtype
---  ------                                                --------------  -----
 0   Order_rank                                            191 non-null    object
 1   Table_1._Human_Development_Index_and_its_components_  191 non-null    object
 2   Human_Development_Index_HDI                           191 non-null    float64
 3   Life_expectancy_at_birth_SDG3                         191 non-null    float64
 4   Expected_years_of_schooling_SDG4_3                    191 non-null    float64
 5   Many_years_of_schooling_SDG4_4                        191 non-null    float64
 6   GNI_per_capita_SDG8_5                                 191 non-null    float64
 7   GNI_per_capita_rank_minus_HDI_rank                    191 non-null    int64
 8   HDI_rank                                              191 non-null    int64
dtypes: float64(5), int64(2), object(2)
memory usage: 14.9+ KB

C:\Users\javie\AppData\Local\Temp\ipykernel_53068\3222817073.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_secondcleaned['Human_Development_Index_HDI']=pd.to_numeric(data_secondcleaned.Human_Development_Index_HDI)
C:\Users\javie\AppData\Local\Temp\ipykernel_53068\3222817073.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_secondcleaned['Life_expectancy_at_birth_SDG3']=pd.to_numeric(data_secondcleaned.Life_expectancy_at_birth_SDG3)
C:\Users\javie\AppData\Local\Temp\ipykernel_53068\3222817073.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_secondcleaned['Expected_years_of_schooling_SDG4_3']=pd.to_numeric(data_secondcleaned.Expected_years_of_schooling_SDG4_3)
C:\Users\javie\AppData\Local\Temp\ipykernel_53068\3222817073.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_secondcleaned['Many_years_of_schooling_SDG4_4']=pd.to_numeric(data_secondcleaned.Many_years_of_schooling_SDG4_4)
C:\Users\javie\AppData\Local\Temp\ipykernel_53068\3222817073.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_secondcleaned['GNI_per_capita_SDG8_5']=pd.to_numeric(data_secondcleaned.GNI_per_capita_SDG8_5)
C:\Users\javie\AppData\Local\Temp\ipykernel_53068\3222817073.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_secondcleaned['GNI_per_capita_rank_minus_HDI_rank']=pd.to_numeric(data_secondcleaned.GNI_per_capita_rank_minus_HDI_rank)
C:\Users\javie\AppData\Local\Temp\ipykernel_53068\3222817073.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_secondcleaned['HDI_rank']=pd.to_numeric(data_secondcleaned.HDI_rank)